.border {
    border-style: solid;
    border-width: @border-width
}

.border-none {
    border: 0 !important
}

.border-top {
    border-top-style: solid;
    border-top-width: @border-width
}

.border-right {
    border-right-style: solid;
    border-right-width: @border-width
}

.border-bottom {
    border-bottom-style: solid;
    border-bottom-width: @border-width
}

.border-left {
    border-left-style: solid;
    border-left-width: @border-width
}

.rounded {
    border-radius: @border-radius  !important
}

.not-rounded {
    border-radius: 0 !important
}

.rounded-top-left {
    border-top-left-radius: @border-radius  !important
}

.rounded-top-right {
    border-top-right-radius: @border-radius  !important
}

.rounded-bottom-left {
    border-bottom-left-radius: @border-radius  !important
}

.rounded-bottom-right {
    border-bottom-right-radius: @border-radius  !important
}

.rounded-top {
    border-radius: @border-radius @border-radius 0 0 !important
}

.rounded-right {
    border-radius: 0 @border-radius @border-radius 0 !important
}

.rounded-bottom {
    border-radius: 0 0 @border-radius @border-radius  !important
}

.rounded-left {
    border-radius: @border-radius 0 0 @border-radius  !important
}

.circle {
    border-radius: 50% !important
}

.shadow {
    box-shadow: @shadow-h-offset @shadow-v-offset @shadow-blur @shadow-spread @shadow-color  !important
}