.for(@margins, {
    .m-@{i0} {margin: @@value}
    .mt-@{i0} {margin-top: @@value}
    .mr-@{i0} {margin-right: @@value}
    .mb-@{i0} {margin-bottom: @@value}
    .ml-@{i0} {margin-left: @@value}
    .mx-@{i0} {margin-left: @@value; margin-right: @@value}
    .my-@{i0} {margin-top: @@value; margin-bottom: @@value}
});

.m-auto  { margin: auto; }
.mt-auto { margin-top: auto }
.mr-auto { margin-right: auto }
.mb-auto { margin-bottom: auto }
.ml-auto { margin-left: auto }
.mx-auto { margin-left: auto; margin-right: auto; }
.my-auto { margin-top: auto; margin-bottom: auto; }